NODE_ENV=production
APP_HOST=0.0.0.0
APP_PORT=4000
APP_SENTRY=
APP_REDIS=redis://host.docker.internal:6379
APP_DB_HOST=host.docker.internal
APP_DB_TYPE=postgres
APP_DB_PORT=5432
APP_DB_USERNAME=postgres
APP_DB_PASSWORD=postgres
APP_DB_NAME=app_db
TEST_USER_KEY=